/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.panel {
    width: 16%;
    float: left;
    height: 200px;
    margin-right: 5px;
}

.panel-body {
    height : 157px;
}

.panel-row {
    margin: 2px auto;
    width: 80%;
    background-color: #808080;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.next {
    margin-left: 15px;
    margin-top: 85px;
    float: left;
}

.pagination-button {
    position: relative;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    text-decoration: none;
}

.previous {
    margin-left: 36px;
    margin-top: 85px;
    float: left;
}

/*.previous a {*/
    /*border-top-left-radius: 4px;*/
    /*border-bottom-left-radius: 4px;*/
    /*position: relative;*/
    /*padding: 6px 12px;*/
    /*line-height: 1.42857143;*/
    /*color: #428bca;*/
    /*text-decoration: none;*/
    /*background-color: #fff;*/
    /*text-decoration: none;*/
/*}*/

.pagination {
    display: block;
}