<p>This is the partial for view 1.</p>

        <input simple-model="name">
        <span simple-bind="name"></span>

<div
        data-angular-treeview="true"
        data-tree-id="abc"
        data-tree-model="treedata"
        data-node-id="id"
        data-node-label="label"
        data-node-children="children">
</div>


<ul draggable id="draggable">
    <li  class="ui-state-highlight">Drag me down 1</li>
    <li  class="ui-state-highlight">Drag me down 2</li>
    <li  class="ui-state-highlight">Drag me down 3</li>
</ul>



<ul id="sortable">
    <li class="ui-state-default">Item 1</li>
    <li class="ui-state-default">Item 2</li>
    <li class="ui-state-default">Item 3</li>
    <li class="ui-state-default">Item 4</li>
    <li class="ui-state-default">Item 5</li>
</ul>


