<p>This is the partial for view 2.</p>
<div class="contain row pagination">
    <span class="previous" ng-show="isNotFirstPage"><a class="pagination-button"> < </a></span>
    <!--<li class="previous  "><a class=""> << </a></li>-->
    <div class="col-lg-11 col-centered">
        <div class="panel panel-default ">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <span class="next" ng-show="isNotLastPage"><a class="pagination-button"> > </a></span>
    <!--<li class="next"><a class="pagination-button"> > </a></li>-->
</div>
